{% extends 'multicol.html' %}

{% set article_url = SITEURL + '/' + article.url %}

{% if article.cover %}
{% set article_cover = article.cover %}
{% else %}
{% set article_cover = SITEURL + '/theme/images/not-found.png' %}
{% endif %}


{% block open_graph %}
<meta property="og:title" content="{{ article.title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ article_url }}" />
<meta property="og:image" content="{{ article_cover }}" />
<meta property="og:description" content="{{ article.summary | striptags }}" />
{% endblock %}
{% block meta_twitter %}
{% if TWITTER %}
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@{{ TWITTER['handle'] }}" />
<meta name="twitter:title" content="{{ article.title }}" />
<meta name="twitter:description" content="{{ article.summary | striptags }} " />
<meta name="twitter:image" content="{{ article_cover }}" />
{% endif %}
{% endblock %}

{% block content %}
<article>
    {{ article.content }}
</article>

{% if article.share_post and article.status != 'draft' %}
{% include "share.html" %}
{% endif %}
{% endblock %}