<!--
    TODO
        - dynamic open graph and twitter metadata, based on articles and pages
-->
<!DOCTYPE html>
<html lang="{% block html_lang %}{{ DEFAULT_LANG }}{% endblock html_lang %}">
    <head>
        {% block title %}
        <title>{{ SITENAME }}</title>
        {% endblock %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content={{ DESCRIPTION }}>

        <!-- open graph metadata for facebook/twitter -->
        {% if PICTURE %}
        {% set cover = SITEURL + '/' + PICTURE %}
        {% else %}
        {% set cover = SITEURL + '/theme/images/not-found.png' %}
        {% endif %}

        {% block open_graph %}
        <meta property="og:title" content="{{ SITENAME }}" />
        <meta property="og:type" content="website" />
        <meta property="og:url" content="{{ SITEURL }}" />
        <meta property="og:description" content="{{ DESCRIPTION }}" />
        <meta property="og:image" content="{{ cover }}" />
        {% endblock %}

        {% block meta_twitter %}
        {% if TWITTER %}
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:site" content="@{{ TWITTER['handle'] }}" />
        <meta name="twitter:title" content="{{ SITENAME }}" />
        <meta name="twitter:description" content="{{ DESCRIPTION }}" />
        <meta name="twitter:image" content="{{ cover }}" />
        {% endif %}
        {% endblock %}

        <!-- styles -->
        {% assets filters="cssmin", output="css/ubuntu-mono.min.css", "css/ubuntu-mono.css" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}

        <link rel="stylesheet" href="{{ SITEURL }}/theme/css/font-awesome.min.css">
        {% assets filters="libsass,cssmin", output="css/main.min.css", "css/main.scss" %}
        <link rel="stylesheet" href="{{ SITEURL }}/{{ ASSET_URL }}">
        {% endassets %}

        {% block additional_css %}{% endblock %}

        {% if article %}
        <!-- canonical url of the current page -->
        <link rel="canonical" href="{{ SITEURL }}/{{ article.url }}" />
        {% endif%}

        <!-- fav icons -->
        <!-- https://favicon.io/favicon-converter/ -->
        <link rel="apple-touch-icon" sizes="180x180" href="{{ SITEURL }}/favicon/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ SITEURL }}/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ SITEURL }}/favicon/favicon-16x16.png">
        <link rel="manifest" href="{{ SITEURL }}/favicon/site.webmanifest">

    </head>
    <body class="{% block body_class %}{% endblock%}">

        <!-- top navigation -->
        <header>
            <nav class="navigation">
                {% block menu_icon%}
                <i class="fa-solid">
                    <img src="{{ SITEURL }}/favicon/favicon-32x32.png"
                         alt="menu icon"
                         class="menu-icon"
                         width="16"
                         height="16">
                </i>
                {% endblock%}

                {% if DISLAY_SITE_NAME_IN_HEADER %}
                <span class="site-name">
                    {{ SITENAME }}
                </span>
                {% endif %}

                <!-- hamburger menu -->
                <input id="menu-toggle" type="checkbox" />
                <label class='menu-button-container' for="menu-toggle">
                    <span class='menu-button'></span>
                </label>
                <ul class="menu">
                    {% for header, link in MENU_ITEMS %}
                    <li><a href="{{ link }}" title="{{ header }}">{{ header }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
        </header>

        <!-- main content -->
        <main>
            <!-- mini map scroll bar -->
            <canvas id="map"></canvas>
            <div class="wrapper">
                {% block sitebar %}
                <article class="identity">
                    {% if ASCII_PICTURE %}
                    <pre class="picture gray">
                    <!-- maybe we could add some 'build' animation in here -->
                    <!-- e.g. there are multiple charaters with the same
                        intensity, or you can make a typewriter effect -->
{{ ASCII_PICTURE }}
                    </pre>
                    {% elif PICTURE %}
                    <img
                        src="{{ SITEURL }}/{{ PICTURE }}"
                        alt="picture of {{ AUTHOR }}"
                        class="profile-picture">
                    {% endif %}
                    <h1>{{ AUTHOR }}</h1>
                    <p>{{ HEADLINE }}</p>

                    <nav class="social">
                        {% for platform, link in SOCIALS.items() if link %}
                        <a
                            rel="external"
                            href="{{link}}"
                            title="My {{ platform }} page">
                            <i class="fa-brands fa-{{platform}}"></i>
                        </a>
                        {% endfor %}
                    </nav>
                </article>
                {% endblock %}
                <div id="content" class="content {% block content_class %}{% endblock%}">
                    {% block pre_content %}{% endblock%}
                    {% block content %}{% endblock %}
                    {% block post_content %}{% endblock %}
                </div>
            </div>
        </main>
        <footer>
            <div class="inner">
                <div class="column align-left">
                    <a
                        href="https://github.com/pelican-themes/atom"
                        title="Source code of this Pelican theme">
                        <i class="fa-brands fa-github"></i>
                        Atom theme
                    </a>
                </div>
                <div class="column">
                    <i class="fa-solid fa-copyright"></i>
                    {{ YEAR }} <span class="mobile-hidden">{{ SITENAME }}</span>
                </div>
            </div>
        </footer>

        <!-- Javascript -->
        <script type="text/javascript" src="{{ SITEURL }}/theme/javascript/pagemap-1.4.0.js"></script>
        <script type="text/javascript" src="{{ SITEURL }}/theme/javascript/main.js"></script>
        <!-- todo minify -->

        {% block additional_js %}{% endblock %}
    </body>
</html>