{% extends 'base.html' %}
{% from 'macros.html' import article_tile with context %}

{% block content %}
<h1>Category <span>{{ category }}</span></h1>

{% if CATEGORY_FEED_ATOM or CATEGORY_FEED_RSS %}
<div class="feeds">
    <div>
{% endif %}

        {% if CATEGORY_FEED_ATOM %}
        {% set feed_url = CATEGORY_FEED_ATOM_URL if CATEGORY_FEED_ATOM_URL else CATEGORY_FEED_ATOM %}
        <a
            href="{{ FEED_DOMAIN }}/{{ feed_url.format(slug=category) }}"
            type="application/atom+xml" rel="alternate"
            title="{{ SITENAME }} {{ category }} Atom Feed">
            <i class="fa-solid fa-atom"></i>
        </a>
        {% endif %}

        {% if CATEGORY_FEED_RSS %}
        {% set feed_url = CATEGORY_FEED_RSS_URL if CATEGORY_FEED_RSS_URL else CATEGORY_FEED_RSS %}
        <a
            href="{{ FEED_DOMAIN }}/{{ feed_url.format(slug=category) }}"
            type="application/atom+xml" rel="alternate"
            title="{{ SITENAME }} {{ category }} RSS Feed">
            <i class="fa-solid fa-rss"></i>
        </a>
        {% endif %}

{% if CATEGORY_FEED_ATOM or CATEGORY_FEED_RSS %}
    </div>
</div>
{% endif %}

<div class="masonry-grid">
    {% for article in articles_page.object_list %}
    <article class="masonry-grid__item">
        {% set color = loop.cycle('purple', 'blue', 'green', 'orange') %}
        {{ article_tile(color, article) }}
    </article>
    {% endfor %}
</div>

{% if articles_page.has_other_pages() %}
{% include 'pagination.html' %}
{% endif %}

{% endblock %}